/*  fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* variables */
:root {
  /* fonts */
  --merriweather-fnt: "Merriweather Sans", sans-serif;
  --opensans-fnt: "Open Sans", system-ui;
  /* color */
  --white-clr: #fff;
  --dark-vanilla-clr: #d6cc99;
  --flesh-clr: #fde5d4;
  --rich-bkack-clr: #001524;
  --gray-asparagus-clr: #445d48;
  --red-clr: #a91d36;
  --error-clr: rgba(169, 29, 54, 0.2);
  --turquoise-surf-clr: #03aed2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  letter-spacing: 1px;

  /* common styles */
  h1 {
    font: normal 900 2rem var(--opensans-fnt);
    text-align: center;
    margin-bottom: 1rem;
  }
  h2 {
    font: normal 700 1.65rem var(--opensans-fnt);
    text-align: center;
    margin-bottom: 1rem;
  }
  h3 {
    font: normal 600 1.25rem var(--opensans-fnt);
    text-align: center;
    margin-bottom: 1rem;
  }
  p {
    font: normal 300 1rem/1.4 var(--merriweather-fnt);
  }
  button {
    font: normal 500 1rem var(--opensans-fnt);
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 2.5rem;
    border: none;
    border-radius: 2px;
    letter-spacing: 1px;
  }

  button {
    width: 250px;
    transition-property: background, box-shadow;
    transition: 500ms ease-in-out;
  }
  /* login button or any other button with the same class */
  .btn-login {
    background: transparent;
    border: 1px solid;
    color: var(--gray-asparagus-clr);

    &:hover,
    &:focus {
      background: var(--white-clr);
      box-shadow: 2px 2px 4px var(--gray-asparagus-clr);
    }
  }
  /* sign up button or any other button with the same class */
  .btn-signup {
    background: var(--gray-asparagus-clr);
    color: var(--white-clr);
    border: none;
    &:hover,
    &:focus {
      background: #2f3f31;
      box-shadow: 2px 2px 4px var(--gray-asparagus-clr);
    }
  }

  ul {
    margin-bottom: 1rem;
    li {
      list-style: none;
      letter-spacing: 1px;
      font: normal 300 0.9rem/1.4 var(--merriweather-fnt);
    }
  }

  input {
    outline: none;
    border: none;
    border-radius: 2px;
    letter-spacing: 1px;
    padding: 0 1rem;
    font: normal 300 1rem var(--merriweather-fnt);
  }
  /* symbol span */
  .symbol-span {
    font-size: 100px;
    display: block;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  /* ----- start: common classes -----*/
  .flex-rw-ct-ct {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-cl-ct-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* form */
  .input-form {
    background-color: var(--white-clr);
    padding: 2rem 1rem;
    border-radius: 2px;

    input {
      border-bottom: 1px solid var(--rich-bkack-clr);
      display: block;
      width: 100%;
      height: 36px;
      margin-bottom: 1rem;
      transition-property: background, box-shadow;
      transition: 500ms ease-in-out;
      color: var(--gray-asparagus-clr);

      &:hover,
      &:focus {
        background: rgba(253, 229, 212, 0.5);
        box-shadow: 2px 2px 4px var(--gray-asparagus-clr);
      }
    }

    /* error class */
    .cls-error {
      display: block;
      color: var(--red-clr);
      margin: -0.5rem 0 1rem;
      font: normal 300 0.75rem/1.2 var(--merriweather-fnt);
    }

    /* submit button */
    #btn-submit {
      width: 100%;
      background: var(--gray-asparagus-clr);
      color: var(--white-clr);
      border: none;
      transition-property: background, box-shadow;
      transition: 500ms ease-in-out;
      margin-top: 1rem;

      &:hover,
      &:focus {
        background: #2f3f31;
        box-shadow: 2px 2px 4px var(--gray-asparagus-clr);
      }
    }
  }
  /* ----- end: common classes -----*/

  /* body */
  body {
    background-color: var(--white-clr);
    font-family: (--merriweather-fnt);

    /* wrapper */
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      /* gap: 2rem; */

      /* section: hero */
      .sect-hero {
        width: 100%;
        height: 80vh;
        background-color: var(--white-clr);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        object-fit: contain;
        object-position: center;

        /*  hero - intro && action */
        .hero-intro,
        .hero-action {
          width: 100%;
          background-color: rgba(255, 255, 255, 0.75);
          padding: 1rem;

          h1,
          p {
            color: var(--rich-bkack-clr);
          }
          h1 span {
            font-size: 2.25rem;
          }
          p {
            color: var();
          }
        }

        /* hero intro */
        .hero-intro {
          /* hero para */
          #para-hero {
            font-weight: 400;
            text-align: center;
          }
        }

        /* hero action */
        .hero-action {
          gap: 1rem;
        }
      }

      /* section: about us */
      .sect-about {
        background-color: var(--flesh-clr);
        width: 95%;
        margin: -2rem auto 0;
        padding: 2rem;
        border: 5px solid var(--white-clr);
        border-bottom: 0;
        color: var(--gray-asparagus-clr);
        .about-para {
          font-size: 1rem;
          margin-bottom: 1rem;
          text-align: justify;
        }
        .symbol-span {
          margin-bottom: 1rem;
        }
      }

      /* section: sign up */
      .sect-signup {
        background-color: var(--gray-asparagus-clr);

        /* margin: auto; */
        padding: 2rem;
        color: var(--dark-vanilla-clr);

        p {
          width: 95%;
          margin: 0 auto 1rem;
          text-align: justify;
        }
        ul {
          text-align: center;
        }

        /* article success — appears when the user has successfully registered an account */
        #artc-sigin-success {
          display: none;
          background-color: var(--white-clr);
          color: var(--rich-bkack-clr);
          margin-top: 1rem;
          padding: 1rem 0;
          height: auto;
          border-radius: 2px;
          p {
            text-align: center;
          }
        }
      }

      /* secction: log in */
      .sect-login {
        padding: 2rem;
        background-color: var(--turquoise-surf-clr);
        color: var(--white-clr);
        p {
          margin-bottom: 2rem;
          padding: 0 1rem;
          text-align: justify;
        }

        .input-form {
          width: 100%;
          margin: auto;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}

/* media */
@media screen and (min-width: 768px) {
  .hero-action {
    display: flex;
    flex-direction: row;
    color: red;
  }
}

@media screen and (min-width: 1024px) {
  .sect-about > *,
  .sect-login > * {
    max-width: 1000px;
    margin: auto;
  }

  .sect-signup {
    form {
      width: 500px;
      margin: auto;
      button {
        display: block;
        margin: auto;
      }
    }
    p {
      max-width: 1000px;
      text-align: justify;
    }
  }

  .sect-login {
    form {
      max-width: 500px;
      margin: auto;

      button {
        display: block;
        margin: auto;
      }
    }
  }

  button {
    max-width: 150px;
  }
}
