* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* google font */

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* variables */
:root {
  /* colors  pallette*/
  --clr-calamansi: #faffaf;
  --clr-cornflower: #96c9f4;
  --clr-brilliant-azure: #3fa2f6;
  --clr-green-blue: #0f67b1;
  --clr-white: #fff;

  /* extra */
  --clr-bondi-blue: #00a1b9;
  --clr-french-blue: #0072b5;
  --clr-frosty-blue: #cce9e4;
  --clr-Mohair-soft-blue: #97b2b7;
  --clr-carribean-green: #00cc99;
  --clr-pure-gray: #808080;
  --clr-natural-black: #111810;
  --clr-winter-black: #20211a;

  /* font */
  --fnt-montserrat: "Montserrat", sans-serif;
  --fnt-hind: "Hind", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 100;
  letter-spacing: 1px;

  /* body */
  body {
    background-color: var(--clr-frosty-blue);
    /* wrapper - landing page*/
    font-family: var(--fnt-hind);
    .wrapper {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* container — landing page*/
      .container {
        width: 95%;
        height: 90vh;
        padding: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        /* intro */
        .intro {
          margin-bottom: 2rem;
          text-align: center;
          h1 {
            font: normal 700 2.5rem/2 var(--fnt-montserrat);
            color: var(--clr-french-blue);
          }
          p {
            font: normal 400 1.25rem/1.2 var(--fnt-hind);
            color: var(--clr-natural-black);
          }
        }

        /* user action */
        .user-action {
          background-color: #fff;
          border-radius: 5px;
          box-shadow: -6px 6px 12px -1px var(--clr-Mohair-soft-blue);
          padding: 2rem;

          /* form */
          .action-form {
            input,
            button {
              display: block;
              outline: none;
              border: none;
              width: 100%;
              height: 48px;
              line-height: 48px;
              margin-bottom: 1rem;
              border-radius: 5px;
              transition: 300ms ease-in-out;
            }
            input {
              &[type="text"],
              &[type="password"] {
                color: var(--clr-winter-black);
                border: 1px solid var(--clr-Mohair-soft-blue);
                font: normal 400 1.1rem var(--fnt-hind);
                padding: 0 1rem;
                transition-property: box-shaddow, outline, border;

                &:hover {
                  box-shadow: -2px 2px 4px var(--clr-Mohair-soft-blue);
                  outline: solid 1px var(--clr-brilliant-azure);
                  border: none;
                }
              }
            }
            button[type="button"] {
              background: var(--clr-french-blue);
              color: var(--clr-white);
              font: normal 500 1.25rem var(--fnt-hind);
              a {
                text-decoration: none;
                color: var(--clr-white);
              }
              &:hover {
                opacity: 0.85;
                box-shadow: -2px 2px 4px var(--clr-Mohair-soft-blue);
              }
            }
            #id-create {
              width: 70%;
              margin: auto;
              background: var(--clr-carribean-green);
            }
            p {
              text-align: center;
              transition: 1s ease-in-out;
              a {
                text-decoration: none;
                transition-property: color, text-underline-offset, text-decoration,
                  color;
                transition: 0.3s ease-in-out;
                &:hover {
                  color: var(--clr-brilliant-azure);
                  text-underline-offset: 5px;
                  text-decoration: underline;
                  color: var(--clr-brilliant-azure);
                }
              }
            }
          }
        }
      }
    }

    /* wrapper-other */
    .wrapper-other {
      width: 100%;
      height: auto;
      /* overflow: hidden; */
      position: relative;
      /* header */
      header {
        width: inherit;
        height: 250px;
        position: inherit;
      }

      header img,
      .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /* profile image */
      .profile-img {
        width: 200px;
        height: 200px;
        margin: auto;
        outline: 5px dashed var(--clr-white);
        outline-offset: 5px;
        border-radius: 50%;
        position: relative;
        bottom: 100px;
      }

      .profile-img img {
        border-radius: 50%;
      }

      /* intro */
      .intro-other {
        position: inherit;
        bottom: 80px;
        text-align: center;
        h2 {
          font: normal 700 1.75rem var(--fnt-montserrat);
        }
        p {
          font-size: 1rem;
          #green-dot {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--clr-white);
            border-radius: 50%;
            background-color: var(--clr-carribean-green);
          }
        }
      }

      /* numbers */
      .intro-numbers {
        height: 80px;
        position: inherit;
        bottom: 80px;
        display: flex;
        justify-content: space-around;
        text-align: center;

        .number-details {
          h3 {
            font: normal 500 1.45rem var(--fnt-montserrat);
            color: var(--clr-natural-black);
          }
          p {
            font: normal 300 1rem var(--fnt-hind);
            color: var(--clr-winter-black);
          }
        }
      }

      /* article action*/
      .artc-action {
        position: relative;
        bottom: 80px;
        display: flex;
        justify-content: center;
        gap: 50px;
        height: 40px;
        button {
          outline: none;
          border: none;
          font: normal 300 1.25rem var(--fnt-hind);
          height: 36px;
          width: 150px;

          border-radius: 5px;
          transition: 0.3s ease-in-out;
          &:hover {
            box-shadow: -4px 4px 8px var(--clr-Mohair-soft-blue);
          }
          a {
            color: var(--clr-white);
            text-decoration: none;
          }
        }
        #id-btn1 {
          background: var(--clr-french-blue);
        }
        #id-btn2 {
          background: var(--clr-frosty-blue);
          border: 1px solid var(--clr-french-blue);
          a {
            color: var(--clr-french-blue);
          }
        }
      }

      /* article gallery */
      .artc-gallery {
        position: inherit;
        bottom: 60px;
        height: 48px;

        /* intro to gallery */
        .gallery-intro {
          width: 90%;
          margin: auto;
          height: inherit;
          padding: 0 1rem;
          display: flex;
          align-items: center;
          gap: 2rem;
          p {
            display: flex;
            align-items: center;
            color: var(--clr-winter-black);
            cursor: pointer;
            &:hover {
              text-decoration: underline solid var(--clr-french-blue) 2px;
              text-underline-offset: 5px;
            }
          }
          p:last-child {
            margin-left: auto;
          }
        }

        /* gallery-media */
        .gallery-media {
          width: 90%;
          margin: auto;
          height: auto;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          gap: 1rem;
          padding: 1rem 0;
          /* media-container */
          .media-container {
            width: 300px;
            height: 300px;
            background-color: transparent;
            border: 1px solid var(--clr-white);
            border-radius: 5px;
            box-shadow: 2px 2px 4px var(--clr-Mohair-soft-blue);

            img,
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

/* media rules */

@media only screen and (max-width: 468px) {
  .wrapper-other {
    .artc-gallery {
      .gallery-media {
        max-width: 90%;
        margin: auto;
        .media-container {
          min-width: 250px;
          min-height: 250px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 750px;
    margin: auto;
  }
  .wrapper-other {
    .intro-other,
    .intro-numbers,
    .artc-action,
    .artc-gallery {
      max-width: 750px;
      margin: auto;
    }

    .artc-gallery {
      .gallery-media {
        min-width: 100%;

        .media-container {
          min-width: 325px;
          min-height: 325px;
        }
      }
    }
  }
}

@media only screen and (min-width: 920px) {
  .wrapper {
    max-width: 750px;
    margin: auto;
  }
  .wrapper-other {
    .intro-other,
    .intro-numbers,
    .artc-action,
    .artc-gallery {
      max-width: 900px;
      margin: auto;
    }

    .artc-gallery {
      .gallery-media {
        min-width: 100%;

        .media-container {
          min-width: 350px;
          min-height: 350px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 750px;
    margin: auto;
  }

  .wrapper-other {
    .intro-other,
    .intro-numbers,
    .artc-action,
    .artc-gallery {
      max-width: 1000px;
      margin: auto;
    }

    .artc-gallery {
      .gallery-media {
        min-width: 100%;

        .media-container {
          min-width: 450px;
          min-height: 450px;
        }
      }
    }
  }
}
